* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 600;
}

.form {
    display: flex;
    justify-content: center;
    margin-bottom: 1.3rem;
}

.inputTarefa {
    font-size: 2rem;
    padding: 1.5rem 1rem;
    width: 90%;
    margin-right: 1rem;

    border: none;
    outline: none;
    background: #FFFFFF;
    color: #DA2535;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.inputTarefa::placeholder {
    color: #DA2535;
}

.button {
    font-size: 2rem;
    padding: 1rem 4rem;
    border-radius: 10px;

    background: #DA2535;
    color: #fff;
    border: none;
    outline: none;
}

.status {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 1.5rem;
}

.tarefasStatus {
    color: #fff;
    background: #DA2535;
    padding: 0.5rem;
    border-radius: 10px;

}

