* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

html {
    font-size: 62.5%;
}

#root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #fff;
    font-size: 3.5rem;
}